<div class="row">
  <div class="col-md-12">
    <div class="mt-3">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Email</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="" />
      </mat-form-field>
    </div>

    <div class="overlay__panel overlay--left">
      <button class="btn" id="Cadastro" (click)="cadastroContratante()" >Cadastrar</button>
    </div>
  </div>
</div>
