<mat-card-content style="width: 100vh">
  <mat-card>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h4>Avalie a vaga de {{ vaga.Cargo }}</h4>
      </div>

      <div class="col-12 d-flex justify-content-center" style="margin-top: 2vh">
        <h6>
          <p id="Descricao"></p>

          <p id="Descricao">
            De 1 a 5 estrelas <strong>(5 para muito bom e 1 para ruim).</strong>
          </p>

          <p id="Descricao">
            Sua opinião é importante para ajudar as próximas pessoas a terem uma
            experiência ainda melhor.
          </p>

          <p id="Descricao">Obrigada!</p>
        </h6>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <div class="rating" [formGroup]="mainForm">

          <input
            type="radio"
            id="estrela-5"
            value="true"
            formControlName="estrela5"
          />
          <label for="estrela-5" (click)="avaliar(5)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                pathLength="360"
                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
              ></path>
            </svg>
          </label>
          <input
            type="radio"
            id="estrela-4"
            value="true"
            formControlName="estrela4"
          />
          <label for="estrela-4" (click)="avaliar(4)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                pathLength="360"
                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
              ></path>
            </svg>
          </label>
          <input
            type="radio"
            id="estrela-3"
            value="true"
            formControlName="estrela3"
          />
          <label for="estrela-3" (click)="avaliar(3)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                pathLength="360"
                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
              ></path>
            </svg>
          </label>
          <input
            type="radio"
            id="estrela-2"
            value="true"
            formControlName="estrela2"
          />
          <label for="estrela-2" (click)="avaliar(2)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                pathLength="360"
                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
              ></path>
            </svg>
          </label>
          <input
            type="radio"
            id="estrela-1"
            value="true"
            formControlName="estrela1"
          />
          <label for="estrela-1" (click)="avaliar(1)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                pathLength="360"
                d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"
              ></path>
            </svg>
          </label>
        </div>

      </div>

      <div
        class="col-12 d-flex justify-content-center"
        style="margin-top: 1vh; margin-block-end: 3vh; left: 2vh"
      >
        <button id="Enviar" (click)="enviar()">Enviar</button>
      </div>
    </div>
  </mat-card>
</mat-card-content>
