<div class="wrapper">
  <nav class="main-header navbar navbar-expand text-sm">
    <div class="container-fluid flex-row-reverse header">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <div class="Perfil"
        [ngStyle]="{
          'background-image': 'url(' + imagePreview + ')',
          'background-size': 'cover', 'background-position': 'center'
        }"
        >
      </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="entrar()">Editar perfil</button>
        <button mat-menu-item (click)="desconectar()">Desconectar</button>
      </mat-menu>

      <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </div>
  </nav>

  <div #contentWrapper class="content-wrapper">
    <div class="row">
      <div class="col-md-3">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-md-6" style="overflow: hidden; height: 93vh">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-3" style="height: 50vh">

      </div>
    </div>
  </div>
</div>
