nav.main-header.navbar.navbar-expand.text-sm {
  // background-image: linear-gradient(rgb(0, 38, 255), rgb(183, 0, 255));
  // background-color: #77ab59;
}

.content-wrapper {
  min-height: calc(100vh - 100px);
  height: 100%;
  overflow-x: hidden;
  .content {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.imagem {
  position: absolute;
  top: 45%;
  opacity: 60%;
  left: 60%;
  z-index: -1;
}
