.header{
  height: 4vh;
}

.content-wrapper {
  min-height: calc(100vh - 100px);
  height: 100%;
  overflow-x: hidden;
  .content {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.imagem {
  position: absolute;
  top: 65%;
  opacity: 60%;
  left: 72.9%;
  z-index: -1;
}
