.header{
  height:4vh;
}

.content-wrapper {
  min-height: calc(100vh - 100px);
  height: 100%;
  overflow-x: hidden;
  .content {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.Perfil{
  position: absolute;
  top: 15%;
  left: 7%;
  width: 90%;
  height: 80%;
  border-radius: 70%;
}

.mdc-card__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 39px;
  padding: 8px;
}

