<mat-card style="height: 92.5vh; border-radius: 40px 40px 40px 40px">
  <mat-card-content class="Feed">
    @if(!isLoading && vagas.length === 0) {
      <div class="d-flex justify-content-center">
        <span>Nenhum progresso econtrado, por favor se candidate em uma vaga para visualizar o progresso.</span>
      </div>
    }

    @for(vaga of vagas; track vaga) {
    <mat-card class="mt-1">
      <mat-card-header>

        <mat-card-title>
          {{ vaga.Cargo }}
        </mat-card-title>

        <div mat-cad class="col-7">
          <button id="Entrar" (click)="avaliacao(vaga)">Avaliar Contratante</button>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div class="d-flex justify-content-center">
          <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <div class="mdl-stepper-horizontal-alternative">
                <div class="mdl-stepper-step"
                [ngClass]="
                {
                  'step-done': vaga.Progresso.Visualizado,
                  'active-step': !vaga.Progresso.Contato
                }">
                  <div class="mdl-stepper-circle">
                    <span>1</span>
                  </div>
                  @if(vaga.Progresso.Visualizado){
                    <div class="mdl-stepper-title">
                      Candidatura Visualizada
                    </div>
                    <div class="mdl-stepper-optional">
                      Seu perfil foi analisado.
                    </div>
                  }
                  @else {
                    <div class="mdl-stepper-title">
                      Candidatura enviada
                    </div>
                    <div class="mdl-stepper-optional">
                      Aguardando seu perfil ser analisado.
                    </div>
                  }
                  <div class="mdl-stepper-bar-left"></div>
                  <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step"
                [ngClass]="
                {
                  'step-done': vaga.Progresso.Aceito !== null,
                  'active-step': vaga.Progresso.Visualizado,
                  'reject': !vaga.Progresso.Aceito && vaga.Progresso.Aceito !== null
                }">
                  <div class="mdl-stepper-circle"><span>2</span></div>
                  <div class="mdl-stepper-title">Aceitação ou Rejeição</div>
                  @if(vaga.Progresso === undefined || vaga.Progresso.Aceito === null) {
                    <div class="mdl-stepper-optional">Pendente de análise.</div>
                  }
                  @else if(vaga.Progresso.Aceito === true) {
                    <div class="mdl-stepper-optional">
                      Candidatura aceita, agora o contratante entrara em contato com você.
                    </div>
                  }
                  @else {
                    <div class="mdl-stepper-optional">
                      Candidatura rejeitada, aguarde mais alguns dias pois o contratante pode mudar de ideia.
                    </div>
                  }
                  <div class="mdl-stepper-bar-left"></div>
                  <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step"  [ngClass]="
                {
                  'active-step': vaga.Progresso.Aceito === true,
                  'step-done': vaga.Avaliada && vaga.Progresso.Aceito === true
                }">
                  <div class="mdl-stepper-circle"><span>3</span></div>
                  <div class="mdl-stepper-title">Contato Estabelecido</div>
                  <div class="mdl-stepper-optional">
                    Após o contato ser feito, você pode avaliar o contratante no botão acima.
                  </div>
                  <div class="mdl-stepper-bar-left"></div>
                  <div class="mdl-stepper-bar-right"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    }
  </mat-card-content>
</mat-card>
