.header{
  height:4vh;
}

.content-wrapper {
  min-height: calc(100vh - 100px);
  height: 100%;
  overflow-x: hidden;
  .content {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.publicar{
  max-height: 580px;
  overflow-y: auto;
  border-radius: 50px 50px 50px 50px;
}

.Perfil{
  position: absolute;
  top: 15%;
  left: 7%;
  width: 90%;
  height: 20%;
}


