<mat-card-content style="
    height: 60vh;
    border-radius: 6px;
    width: 102vh;
    overflow: auto;
    overflow-x: hidden;
  ">

  <div class="row">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Nome do candidato</mat-panel-title>
          <mat-panel-description>
            Breve descricao do candidato
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>


      



    </mat-accordion>
  </div>

</mat-card-content>