
.card{
  left: 360px;
  top: 10px;
  height: 426px;
  width: 755px;
  border-radius: 12px;
  border: 0.5px solid rgb(187, 233, 163);
  box-shadow: 4px 4px 4px rgba(100, 99, 99, 0.2);
  background-color: rgba(240, 240, 240, 0.936);
}

.form{
  position: relative;
  left: 10px;
  top: 20px;
  width: 330px;
}

.reset{
  position: relative;
  left: 88px;
  top: 30px;
}

#Entrar{
  position: relative;
  top: 65px;
  left: 75px;
  padding: 0.9em 5em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

#Entrar:hover {
  background-color: #c9df8a;
  box-shadow: 0px 15px 20px rgb(201, 223, 138, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#Entrar:active {
  transform: translateY(-1px);
}

#Login{
  z-index: 3 ;
  position: relative;
  top: -125px;
  left: 80px;
  padding: 0.9em 5em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

#Login:hover{
  background-color: #c9df8a;
  box-shadow: 0px 15px 20px  rgb(201, 223, 138, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#Login:active {
  transform: translateY(-1px);
}

#Prestador{
  z-index: 1;
  position: relative;
  top: 70px;
  left: 65px;
  padding: 1.0em 4em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

#Prestador:hover {
  background-color: #77ab59;
  box-shadow: 0px 15px 20px rgb(119, 171, 89, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#Prestador:active {
  transform: translateY(-1px);
}

#Contratante{
  z-index: 1;
  position: relative;
  top: 120px;
  left: 65px;
  padding: 1.0em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

#Contratante:hover {
  background-color: #77ab59;
  box-shadow: 0px 15px 20px rgb(119, 171, 89, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#Contratante:active {
  transform: translateY(-1px);
}

.Quadrado {
  position: absolute;
  opacity: 20%;
  top: 0px;
  left: 0px;
  height: 425.2px;
  width: 376.5px;
  background-color: rgba(240, 240, 240, 0.936);;
}
