.example-header-image {
  background-size: cover;
}


.FundoDoFeed{
  border-radius: 40px 40px 40px 40px;
  width: 95%;
  height: 640px;
}

.Feed{
  margin-left: 6%;
  width: 90%;
  max-height: 580px;
  overflow-y: auto;
}
