.example-header-image {
  background-size: cover;
}


.FundoDoFeed{
  border-radius: 40px 40px 40px 40px;
  height: 81%;
}

.Feed{
  position: relative;
  top: 6%;
  margin-left: 6%;
  width: 90%;
  max-height: 462px;
  overflow-y: auto;
}

.qtdcurtida{
  position: relative;
  left: 66vh;
}

button {
  position: relative;
  left: 2vh;
  top: 3vh;
  display: flex;
  align-items: center;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #e8e8e8;
  border-color: #f2eded;
  border-style: solid;
  border-radius: 35px;
  color: rgb(12 11 11);
  font-family: monospace;
  font-size: 79%;
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.27, 2.5), border-color 400ms ease-in-out, background-color 400ms ease-in-out;
  word-spacing: -2px;
}

@keyframes movingBorders {
  0% {
    border-color: #77ab59;
  }

  50% {
    border-color: #77ab59;
  }

  90% {
    border-color: #77ab59;
  }
}

button:hover {
  background-color: #eee;
  transform: scale(105%);
  animation: movingBorders 3s infinite;
}

button svg {
  fill: rgb(255, 110, 110);
  margin-right: 13px;
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }
}

button:hover svg {
  animation: beatingHeart 1.2s infinite;
}
