.modal-content {
  padding: 40px;
  border-radius: 20px 0 0 0;
}

.localizacao{
  font-size: 1.0rem
}

.titulo{
  color: black;
  font-size: 1.5rem
}

// .modal-header {
//   text-align: center;
// }

.modal-body {
  margin-top: 15px;
}

.info-card {
  padding: 15px;
  margin: 10px 0;
}

.info-item {
  margin: 3px 0;
}

#Entrar{
  left: 72%;
  padding: 0.9em 2em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.0px;
  font-weight: 500;
  color: #000;
  background-color: #e4e2e2;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

#Entrar:hover {
  background-color: #77ab59;
  box-shadow: 0px 15px 20px rgb(201, 223, 138, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#Entrar:active {
  transform: translateY(-1px);
}
