<mat-dialog-content class="modal-content">
  <div class="modal-header">
    <div class="row">
    <h2 class="col-8 d-flex justify-content-start titulo" >{{ jobTitle }}</h2>
    <div class="col-4">
        <strong>Prazo:</strong> {{ jobDeadline }}
    </div>
    <h4 class="col-12 d-flex justify-content-start localizacao"> {{ jobLocation }} </h4>
    </div>
  </div>
  <div class="modal-body">
    <mat-card class="info-card">
      <div class="row">
        <div class="col-6">
      <mat-card-title>Informações da Vaga</mat-card-title>
      <div class="col-6">

        </div>
      </div>
      </div>
      <mat-card-content>
        <div class="info-item">
          <strong>Descrição:</strong> {{ jobDescription }}
        </div>
        <div class="info-item">
          <strong>Requisitos:</strong> {{ jobRequirements }}
        </div>
        <div class="info-item">
          <strong>Remuneração:</strong> {{ jobSalary }}
        </div>

        <div class="info-item">
          <strong>Data de Criação:</strong> {{ jobCreationDate }}
        </div>
        <div class="info-item">
          <strong>Data de Fechamento:</strong> {{ jobClosingDate }}
        </div>
        <br>
        <div>
          <button id="Entrar">Candidatar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <div class="modal-footer">
    <button mat-button mat-dialog-close id="Entrar" >Fechar</button>
  </div>
</mat-dialog-content>
