<mat-dialog-content class="modal-content">
  <!-- <div class="modal-header"> -->
    <div class="row">
      <h2 class="col-8">
        {{ vaga.Cargo }}
      </h2>
      <div class="col-4">
        <strong>Prazo:</strong> {{ vaga.Prazo | date : "dd/MM/yyy" }}
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <h4 class="localizacao">
        {{ vaga.Localizacao }}
      </h4>
    </div>
  <!-- </div> -->
  
  <div class="modal-body">
    <mat-card class="info-card">
      
      <mat-card-title>Informações da Vaga</mat-card-title>

      <mat-card-content>
        <div class="row">
          <div class="info-item">
            <strong>Descrição:</strong> {{ vaga.Descricao }}
          </div>
          <div class="info-item">
            <strong>Requisitos:</strong> {{ vaga.Requisitos }}
          </div>
          <div class="info-item">
            <strong>Remuneração:</strong> {{ vaga.Remuneracao }}
          </div>
  
          <div class="info-item">
            <strong>Data de Criação:</strong>
            {{ vaga.Criacao | date : "dd/MM/yyy" }}
          </div>
  
          <div class="info-item" *ngIf="vaga.Fechamento">
            <strong>Data de Fechamento:</strong>
            {{ vaga.Fechamento | date : "dd/MM/yyy" }}
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-4">
            <button id="Entrar" (click)="formulario()" [disabled]="bloquear">
              Candidatar
            </button>
          </div>

          <div class="col-8 mt-2">
            @if(bloquear) {
              <span style="color: rgba(250, 179, 46, 0.856);">Você já está inscrito nesta vaga.</span>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br />
  <div class="modal-footer">
    <button mat-button mat-dialog-close id="Entrar">Fechar</button>
  </div>
</mat-dialog-content>
